<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }} {% endblock %}
    <title>Blogly {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <!-- Your page content -->
    <div id="content">
      <div class="container">{% block content %}{% endblock %}</div>
    </div>

    <div id="footer">
      <div class="container">
        <p>Copyright &copy; <span id="current-year">2021</span> Rick Goshen</p>
      </div>
    </div>

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }} {% endblock %}
  </body>
</html>
